image: archlinux:latest

stages:
  - build
  - test

variables:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

.setup: &setup
  - pacman -Syu --noconfirm
  - pacman -S --noconfirm --needed base-devel gtk4 libadwaita glib2 pkgconf meson ninja python python-gobject blueprint-compiler rust cargo curl just

build:
  stage: build
  before_script:
    - *setup
  script:
    - just build
  artifacts:
    paths:
      - target/release/
      - build/schemas/
      - src/data/ui/*.ui
      - resources.gresource
    expire_in: 1 week

test:
  stage: test
  before_script:
    - *setup
  script:
    - just test
